language: php

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
  include:
    - php: 5.5
    - php: 5.6
    - php: 7.0
      env: COVERAGE=yes
    - php: nightly
    - php: hhvm
  allow_failures:
    - php: nightly
    - php: hhvm
  fast_finish: true

before_install:
  - if [[ $TRAVIS_PHP_VERSION != hhvm && $COVERAGE != yes ]]; then phpenv config-rm xdebug.ini; fi;
  - composer self-update

install:
  - composer install --prefer-dist --no-interaction

script:
  - if [[ $COVERAGE = yes ]]; then bin/phpunit --verbose --coverage-clover build/coverage.xml ; else bin/phpunit --verbose ; fi

after_script:
  - if [[ $COVERAGE = yes ]]; then wget https://scrutinizer-ci.com/ocular.phar && php ocular.phar code-coverage:upload --format=php-clover build/coverage.xml; fi
